* {
  box-sizing: border-box;
}

body {
  outline: none;
}

body p {
  margin: 0;
}

body main {
  display: flex;
  flex-direction: column;
  padding: 0.5em 5%;
}

body main header {
  margin: 0.5em;
  text-align: center;
}

body main header img {
  height: 100px;
}

body main .search-section #block-search {
  position: relative;
  display: flex;
  align-items: center;
}

body main .search-section #block-search .search-field {
  border-radius: 0.5em;
  padding: 1em;
  width: 100%;
  height: 3em;
  background-color: #ededed;
  border: none;
}

body main .search-section #block-search .search-field:focus, body main .search-section #block-search .search-field:active {
  border: none;
  outline: none;
}

body main .search-section #block-search .button-search {
  font-size: 1.2em;
  height: 30px;
  background-color: inherit;
  border: none;
  position: absolute;
  right: 5px;
}

body main .search-section #block-search .button-search i {
  cursor: pointer;
}

body main .search-section #block-filter {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  width: 390px;
}

body main .search-section #block-filter #filter-by-ingredients {
  background-color: #3282f7;
}

body main .search-section #block-filter #filter-by-appliances {
  background-color: #68d9a4;
}

body main .search-section #block-filter #filter-by-ustensiles {
  background-color: #ed6454;
}

body main .search-section #block-filter .filter-sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border-radius: 0.2em;
  min-width: 120px;
  padding: 0.8em 0.4em;
}

body main .search-section #block-filter .filter-sort .filter-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body main .search-section #block-filter .filter-sort .btn-filter {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

body main .search-section #block-filter .filter-sort .content {
  display: none;
}

body main .recipe-section {
  margin-top: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(415px, 1fr));
  gap: 3em;
}

body main .recipe-section .recipe-container {
  margin-bottom: 1em;
  max-width: 415px;
  height: 350px;
  font-size: 0.85em;
}

body main .recipe-section .recipe-container .recipe-img {
  height: 50%;
  background-color: #c7bebe;
}

body main .recipe-section .recipe-container .recipe-text {
  font-size: 1.05em;
  max-height: 50%;
  height: 50%;
  padding: 1.25em;
  padding-top: 1em;
  background-color: #e7e7e7;
}

body main .recipe-section .recipe-container .recipe-text .recipe-header {
  font-size: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

body main .recipe-section .recipe-container .recipe-text .recipe-header .recipe-time {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

body main .recipe-section .recipe-container .recipe-text .recipe-header h2 {
  width: 70%;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

body main .recipe-section .recipe-container .recipe-text .recipe-header i {
  margin: 0 0.2em;
}

body main .recipe-section .recipe-container .recipe-text .recipe-step-block {
  height: 50%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body main .recipe-section .recipe-container .recipe-text .recipe-step-block .ingredient-block {
  max-height: 100%;
  word-wrap: break-word;
  height: 100%;
}

body main .recipe-section .recipe-container .recipe-text .recipe-step-block .summary-block {
  width: 40%;
}

body main .recipe-section .recipe-container .recipe-text .recipe-step-block .summary-block p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

body main .recipe-section .recipe-container::after {
  content: "";
  flex-grow: 1;
  width: 400px;
}

body main .no-content-recipe {
  background-color: #f4341f;
  display: none;
  color: white;
  text-align: center;
  padding: 20px;
  width: 50%;
  margin: auto;
  border-radius: 0.5em;
  transition: 1s;
}
